.container
  .content
    - if @over_ten
      = link_to 'Show Previous', '?m=all'
    - @messages.each do |message|
      = render partial: 'message', locals: { message: message } if message.persisted?

    = form_for [@conversation, @message] do |f|
      = f.text_field :body, class: "u-full-width"
