$avatar-size: 44px;

.a-avatar {
  border-radius: 50%;
  width: 150px;

  @media #{$from-large} {
    width: 180px;
  }
}

.a-avatar--thumb {
  border-radius: 50%;
  width: $avatar-size;
  height: $avatar-size;
}

.a-avatar--thumb-square {
  border-radius: 5px;
  width: $avatar-size;
  height: $avatar-size;
}
