.a-buttons {
  @include flex($justify-content: center);
  .a-button:not(:last-child) {
    margin-right: 20px;
  }
}

.a-button {
  display: inline-block;
  border: 0;
  background-color: $colour-button;
  color: $colour-white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: $body-font;
  font-size: 20px;

  i {
    color: $colour-white;
  }

  &:hover {
    background-color: $colour-button-hover;
    color: $colour-white;
  }
}

.a-button--large {
  padding: 15px 25px;
}

.a-button--elastic {
  width: 100%;
  max-width: 100%;
  text-align: center;

  @media #{$from-medium} {
    width: auto;

    .a-content--form & {
      width: 100%;
    }
  }
}

.a-button--corner {
  margin: 10px auto;

  @media #{$from-medium} {
    position: absolute;
    right: 25px;
    top: 90px;
  }
}
