footer {
  @include flex($direction: column);
  padding: 30px;
  border-top: 2px solid $colour-black;
  font-family: $body-font;
  background-color: $colour-black;
  color: $colour-very-light-grey;

  @media #{$to-medium} {
    div:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  i,
  a {
    color: $colour-very-light-grey;
  }

  i:hover,
  a:hover {
    color: $colour-light-grey;
  }

  @media #{$from-medium} {
    @include flex($direction: row, $justify-content: space-between);
  }
}

.a-footer__second-column {
  @include flex;
  a:not(:last-child) {
    margin-right: 15px;
  }
}
