$colour-black: #000000;
$colour-white: #ffffff;
$colour-grey: #727376;
$colour-button: $colour-black;
$colour-button-hover: $colour-grey;
$colour-border: $colour-grey;
$colour-box-shadow: rgba(0, 0, 0, .05);
$colour-light-grey: #a2a2a0;
