$colour-black: #000000;
$colour-white: #ffffff;
$colour-grey: #727376;
$colour-red: #ff0000;
$colour-button: $colour-black;
$colour-button-hover: $colour-grey;
$colour-warning-button: $colour-red;
$colour-border: $colour-grey;
$colour-box-shadow: rgba(0, 0, 0, .05);
$colour-light-grey: #e1e1e0;
$colour-dark-grey: #393b42;
$colour-light-blue: #e3f4fc;
$colour-blue: #657ed4;
$colour-very-light-grey: lighten($colour-light-grey, 10%);
