.container {
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  padding: 10px 0;
  max-width: 36em;
  margin: 1rem auto;
}

.content--wide {
  max-width: 52em;
}

.content--xwide {
  max-width: 70em;
}

.content--separated {
  border-top: solid 1px $colour-border;
  border-bottom: solid 1px $colour-border;
}

.content--separated-bottom {
  border-bottom: solid 1px $colour-border;
}
