.container {
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  padding: 10px 0;
  max-width: 36em;
  margin: 1rem auto;
}

.content--wide {
  max-width: 52em;
}

.content--xwide {
  max-width: 70em;
}

.content--xxwide {
  max-width: 75em;
}

.content--separated {
  border-top: solid 1px $colour-border;
  border-bottom: solid 1px $colour-border;
}

.content--separated-bottom {
  border-bottom: solid 1px $colour-light-grey;
}

.content--tight {
  margin-bottom: 0;
  margin-top: 0;
}

.content--tight-bottom {
  margin-bottom: 0;
}

.content--tight-top {
  margin-top: 0;
}

.three-column-container {

  width: 100%;
  @include flex($direction: column);
  margin: 50px auto;

  .quarter {
    width: 100%;
  }

  .third {
    width: 100%;
  }

  .half {
    width: 100%;
  }

  .centered {
    @include flex($direction: column);
  }

  .content {
    max-width: 100%;
  }

  @media #{$from-large} {
    @include flex($direction: row, $justify-content: center, $align-items: flex-start);

    .quarter {
      width: 25%;
    }

    .third {
      width: 33%;
      margin-right: 50px;
    }

    .half {
      width: 50%;
    }

    .three-quarters {
      width: 70%;
    }

    .centered {
      @include flex($direction: column);
    }

    .content {
      max-width: 80%;
    }
  }
}
