$header-font: 'Josefin Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;

$nav-item-font-size: 20px;

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

p {
  font-family: $body-font;
  color: lighten($colour-black, 30%);
}

p a {
  color: $colour-black;
  transition: border 0.5s;

  &:hover {
    color: $colour-black;
    border-bottom: solid 1px $colour-black;
    transition: border 0.5s;
  }
}

i {
  color: $colour-black;
}

img {
  max-width: 100%;
}
