$header-font: 'Josefin Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

p {
  font-family: $body-font;
}

img {
  max-width: 100%;
}
