.s-navbar {
  padding: 0 15px;
  @include flex($justify-content: space-between);
  font-family: $header-font;
  font-size: 20px;
  margin-top: 5px;
}

.s-navbar__nav {
  padding: 20px;
  border-bottom: solid 2px transparent;
}

.s-navbar__nav:hover {
  border-bottom: solid 2px $colour-black;
}

.s-navbar__logo {
  font-size: 40px;
  font-weight: bold;
}
