$navbar-height: 80px;
$navbar-menu-height: 60px;

.s-navbar {
  @include flex($justify-content: space-between);
  height: $navbar-height;
  padding: 0 15px;
  margin-bottom: -$navbar-height;
  font-family: $body-font;
}

.s-navbar__logo {
  font-size: 36px;
  font-weight: bold;
}

.s-navbar__desktop-nav-menu {
  @media #{$to-medium} {
    display: none;
  }

  @include flex($justify-content: flex-start);

  .s-navbar__nav {
    font-size: 17px;
    color: $colour-grey;
    margin: 0 15px;
  }

  .is-selected {
    color: $colour-primary;
  }
}

.s-navbar__mobile-burger {
  @media #{$from-medium} {
    display: none;
  }
}

.s-navbar__user-nav-icons {
  @include flex($justify-content: flex-end);

  a:not(:last-child) {
    margin-right: 15px;
  }

  i {
    font-size: 25px;
  }

  .a-button {
    font-size: 16px;
  }
}

#nav-menu-dropdown-mobile,
#user-nav-menu-dropdown,
#notifications-dropdown {
  display: none;
}

#notifications-dropdown {
  @media #{$from-medium} {
    position: absolute;
    width: 350px;
    background-color: $colour-white;
    max-height: 90vh;
    overflow: scroll;
    right: 10px;
    top: $navbar-height;

    .s-navbar__notifications-dropdown {
      margin: 0;
    }
  }
}

#user-nav-menu-dropdown {
  @media #{$from-medium} {
    position: absolute;
    width: 250px;
    background-color: $colour-white;
    overflow: scroll;
    right: 10px;
    top: $navbar-height;

    .s-navbar__user-nav-menu-dropdown {
      margin: 0;
    }
  }
}

.s-navbar__menu-mobile {
  @include flex($direction: column);
  margin-top: $navbar-height;
  margin-bottom: -$navbar-height;
  padding: 10px 20px;
  width: 100%;

  .s-navbar__nav {
    padding: 20px;
  }
}

.s-navbar__user-nav-menu-dropdown {
  @include flex($direction: column);
  margin-top: $navbar-height;
  margin-bottom: -$navbar-height;
  padding: 10px 20px;
  width: 100%;

  .s-navbar__nav {
    padding: 20px;
  }
}

.s-navbar__notifications-dropdown {
  @include flex($direction: column, $align-items: flex-start);
  margin-top: $navbar-height;
  margin-bottom: -$navbar-height;
  padding: 10px 20px;
  width: 100%;
  overflow: scroll;

  .s-navbar__notification {
    padding: 5px;
  }

  .s-navbar__notification__unread {
    background-color: $colour-box-shadow;
  }
}
