.s-navbar {
  padding: 0 15px;
  @include flex($justify-content: space-between);
  font-family: $header-font;
  font-size: 20px;
  margin-top: 5px;
  position: relative;
}

.s-navbar__nav {
  padding: 20px;
  border-bottom: solid 2px transparent;
}

.s-navbar__nav:hover {
  border-bottom: solid 2px $colour-black;
}

.s-navbar__logo {
  font-size: 40px;
  font-weight: bold;
}

.s-navbar__dropdown {
  @include flex($direction: column);
  background-color: $colour-white;
  font-size: 16px;
  padding: 10px 20px;
  float: right;
  top: 62px;
  box-shadow: 0 1px 5px 1px $colour-box-shadow;
  border: 1px solid $colour-light-grey;
  display: none;
  @include clearfix;
  position: absolute;
  right: 20px;
}
