.u-center {
  text-align: center;
}

.u-right {
  text-align: right;
}

.u-margin-top {
  margin-top: 50px;
}

.u-margin-top--small {
  margin-top: 25px;
}

.u-margin-bottom {
  margin-bottom: 50px;
}

.u-full-width {
  width: 100%;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-no-highlight {
  &:hover {
    border: 0;
  }
}

.u-navbar-clear {
  padding-top: $navbar-height;
}

.u-hide-on-mobile {
  @media #{$to-medium} {
    display: none;
  }
}

.u-hide-on-desktop {
  @media #{$from-medium} {
    display: none;
  }
}
