.u-center {
  text-align: center;
}

.u-left {
  text-align: left;
}

.u-right {
  text-align: right;
}

.u-margin-top {
  margin-top: 50px;
}

.u-margin-top--small {
  margin-top: 25px;
}

.u-margin-bottom {
  margin-bottom: 50px;
}

.u-margin-bottom--small {
  margin-bottom: 25px;
}

.u-full-width {
  width: 100%;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-no-highlight {
  &:hover {
    border: 0;
  }
}

.u-navbar-clear {
  padding-top: $navbar-height;
}

.u-navbar-clear--double {
  padding-top: $navbar-height + $navbar-menu-height;
}

.u-hide-on-mobile {
  @media #{$to-medium} {
    display: none;
  }
}

.u-hide-on-desktop {
  @media #{$from-medium} {
    display: none;
  }
}

.u-border-right {
  border-right: solid 1px $colour-grey;
}

.u-drop-cap::first-letter {
  color: $colour-black;
  float: left;
  font-family: $header-font;
  font-size: 75px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 2px;
}

.u-black-line {
  border: solid 2px $colour-black;

  @media #{$from-medium} {
    border: solid 3px $colour-black;
  }
}

.u-black-line--thin {
  border: solid 1px $colour-black;

  @media #{$from-medium} {
    border: solid 2px $colour-black;
  }
}

.u-small-text {
  font-size: 14px;
}
