.u-center {
  text-align: center;
}

.u-right {
  text-align: right;
}

.u-margin-top {
  margin-top: 50px;
}

.u-margin-top--small {
  margin-top: 25px;
}

.u-margin-bottom {
  margin-bottom: 50px;
}

.u-full-width {
  width: 100%;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.no-highlight {
  background-color: $colour-white;
}

.u-navbar-clear {
  padding-top: $navbar-height;
}
