.container
  .content
    %h2.u-center Notifications
    %hr.u-black-line--thin
    - @notifications.each do |notification|
      = render partial: 'notification', locals: { notification: notification }
