= render partial: 'shared/wallpaper', locals: { source: @wallpaper.image }

.m-canvas
  .container.u-center
    .content.content--wide
      %h2 Because we want to help bring some art to your walls
      %p
        Art on your walls should be original, like you. You don’t need to know anything about art to find a piece you love, giving your home a personal touch. A curated art gallery minus the intimidating vibe and lack of information. Discover artists today. 
