- set_page_title(@user.full_name)

= render 'users/profile/intro', selector: "#user_#{@user.id}", src: @user.hero_image.url(:header_medium), srcset: {'900px' => @user.hero_image.url(:header_large)}

= render partial: 'users/profile/nav', locals: { user: @user }

#profile-ajax= render partial: 'users/profile/activity', locals: { user: @user, updates: @updates }
