= profile_image(user, css_class: 'a-avatar')
%br
%h1= link_to user.full_name, user
= render partial: 'shared/social_links', locals: { user: user }
.content.content--tight.u-center
  %p= sanitize user.bio
  #follower_count[user]= render partial: 'shared/follow_link', locals: { artist: user, user_list: true }
