.m-artist {
  margin-bottom: 50px;
}

.m-artist__details {
  @include flex($direction: column, $align-items: flex-start);
  margin-bottom: 40px;

  .a-avatar--thumb {
    width: 72px;
    height: 72px;
  }

  @media #{$from-medium} {
    @include flex($justify-content: flex-start);
    max-width: 70%;
  }
}

.m-artist__avatar {
  margin-right: 20px;
}

.m-artist__name {
  @include flex($direction: column, $align-items: flex-start);

  h2,
  p {
    margin: 0;
  }
}
