.m-canvas {
  @include flex($direction: column);
  height: 90vh;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('https://s3.eu-west-2.amazonaws.com/curate-group/assets/landing.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: $colour-white;
  font-family: $header-font;
  margin-top: $navbar-height;

  h1 {
    font-weight: normal;
    font-size: 90px;
    line-height: 1;
  }

  p {
    font-family: $body-font;
    color: $colour-white;
    font-size: 30px;
  }
}
