.m-chat {
  .m-chat__messages {
    overflow: scroll;
    height: 450px;
    border: solid 1px $colour-light-grey;
    padding: 20px;
  }
}

.m-chat__message {
  @include flex($justify-content: flex-start, $align-items: flex-start);

  img {
    margin-right: 10px;
  }

  p {
    margin: 0;
  }
}

.m-chat__message-body {
  margin-bottom: 15px;
}

.m-chat__datestamp {
  font-size: 10px;
}

.m-chat__datestamp-large {
  font-size: 13px;
}

.m-chat__inbox-icon {
  position: relative;
}

.m-chat__inbox-icon[data-badge]::after {
  content: attr(data-badge);
  position: absolute;
  top: -5px;
  right: 11px;
  font-size: .7em;
  background: $colour-red;
  color: $colour-white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px $colour-box-shadow;
}
