.m-chat {
  .m-chat__messages {
    overflow: scroll;
    height: 450px;
    padding: 20px;
  }
}

.m-chat__message {
  @include flex($justify-content: flex-start, $align-items: flex-start);

  img {
    margin-right: 10px;
  }

  p {
    margin: 0;
  }
}

.m-chat__message-body {
  margin: 0 0 15px;
  background-color: lighten($colour-purple, 50%);
  padding: 10px;
  border-radius: 5px;
}

.m-chat__datestamp {
  font-size: 10px;
  margin-bottom: 10px;
}

.m-chat__datestamp-large {
  font-size: 13px;
}

.m-chat__inbox-icon {
  position: relative;
}

.m-chat__inbox-icon[data-badge]::after {
  content: attr(data-badge);
  position: absolute;
  top: -6px;
  right: 4px;
  font-size: .6em;
  background: $colour-red;
  color: $colour-white;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  box-shadow: 0 0 1px $colour-box-shadow;
}

.m-chat__inbox-line {
  width: 100%;
  padding: 10px 20px 5px;
}

.m-chat__inbox-entry {
  margin-top: -5px;
}

.m-chat__inbox-entry-unread {
  background-color: $colour-box-shadow;
}
