.m-chat {
  #messages {
    overflow: scroll;
    height: 450px;
    border: solid 1px $colour-border;
    padding: 20px;
  }
}

.m-chat__message {
  @include flex($justify-content: flex-start, $align-items: flex-start);

  img {
    margin-right: 10px;
  }

  p {
    margin: 0;
  }
}

.m-chat__message-body {
  margin-bottom: 15px;
}

.m-chat__datestamp {
  font-size: 10px;
}

.m-chat__datestamp-large {
  font-size: 13px;
}

.m-chat__strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.m-chat__strike > p {
  position: relative;
  display: inline-block;
}

.m-chat__strike > p:before,
.m-chat__strike > p:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: $colour-black;
}

.m-chat__strike > p:before {
  right: 100%;
  margin-right: 15px;
}

.m-chat__strike > p:after {
  left: 100%;
  margin-left: 15px;
}
