.m-display-section {
  @include flex($direction: column-reverse);
  margin: 40px 0 60px;

  @media #{$from-medium} {
    @include flex($direction: row);
  }
}

.m-display-section__first,
.m-display-section__second {
  padding: 10px 15px 25px;
  width: 100%;

  @media #{$from-medium} {
    width: 50%;
    padding: 15px 25px;
  }
}

.m-display-section__image {
  height: 400px;
  width: 100%;
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
    position: center center;
  }
}

.m-display-section__hero {
  width: 100%;
  height: 500px;
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
    position: center center;
  }
}
