.m-event {
  margin-bottom: 20px;
  border-bottom: 1px solid $colour-black;
}

.m-events__post {
  padding: 20px 40px;
}

.m-events__artwork {
  padding: 20px 40px;
}

.m-events__artist {
  text-align: center;
}
