.m-gallery {
  @include flex($flex-wrap: wrap);
}

.m-gallery__piece {
  @include flex($direction: column);
  max-width: 512px;
  padding: 20px;
}

.m-art-gallery {
  @include flex($direction: column);
}

.m-art-gallery__block {
  @include flex($direction: column-reverse);
  width: 100%;
  margin-bottom: 40px;

  @media #{$from-medium} {
    @include flex($align-items: flex-start);
    height: 350px;
    overflow: hidden;
  }
}

.m-art-gallery__block:nth-child(2n) {
  @media #{$from-medium} {
    @include flex($direction: row-reverse, $align-items: flex-start);
  }
}

.m-art-gallery__block-information {
  padding: 30px;
  height: 100%;
  background-color: $colour-light-grey;

  @media #{$from-medium} {
    padding: 10px 30px;
    width: 40%;
    @include flex($direction: column, $align-items: flex-start);
  }
}

.m-art-gallery__block-image {
  img {
    display: block;
  }

  @media #{$from-medium} {
    width: 60%;
  }
}
