.m-gallery {
  @include flex($flex-wrap: wrap, $justify-content: space-around);
}

.m-gallery__piece {
  @include flex($direction: column);
  padding: 20px;
  margin-bottom: 40px;

  h3 {
    font-family: $body-font;
  }
}

.m-gallery__piece-details {
  @include flex($justify-content: space-between);
  width: 100%;
  font-size: 14px;
}

.m-gallery__image {
  overflow: hidden;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: 50%;
}

.m-art-gallery {
  @include flex($direction: column);
}

.m-art-gallery__block {
  @include flex($direction: column-reverse);
  width: 100%;
  margin-bottom: 40px;

  @media #{$from-medium} {
    @include flex($align-items: flex-start);
    height: 350px;
    overflow: hidden;
  }
}

.m-art-gallery__block:nth-child(2n) {
  @media #{$from-medium} {
    @include flex($direction: row-reverse, $align-items: flex-start);
  }
}

.m-art-gallery__block-information {
  padding: 30px;
  height: 100%;
  background-color: $colour-light-grey;

  @media #{$from-medium} {
    padding: 10px 30px;
    width: 40%;
    @include flex($direction: column, $align-items: flex-start);
  }
}

.m-art-gallery__block-image {
  img {
    display: block;
  }

  @media #{$from-medium} {
    width: 60%;
  }
}
