.m-hero {
  @include flex;
  text-align: center;
  height: 93vh;
  background-color: $colour-black;
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  }

  h1 {
    color: $colour-white;
    font-size: 100px;
  }
}
