.m-hero {
  @include flex;
  text-align: center;
  height: 70vh;
  background-color: $colour-black;
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
  }

  h1 {
    color: $colour-white;
    margin: 0;
    padding: 0 30px;
    font-size: 100px;
  }
}
