.m-notifications {
  @include flex($direction: column);
  position: absolute;
  background-color: $colour-white;
  padding: 10px 20px;
  float: right;
  top: 80px;
  box-shadow: 0 1px 5px 1px $colour-box-shadow;
  border: 1px solid $colour-light-grey;
  right: 120px;
  z-index: 1100;
  display: none;
  width: 300px;
  overflow: scroll;
  max-height: 450px;

  @media #{$to-medium} {
    width: 100%;
    right: 0;
  }
}

.m-notification {
  padding: 5px;
}

.m-notifications__menu {
  @include flex($justify-content: space-between);
}

.m-notifications__unread {
  background-color: $colour-box-shadow;
}
