.m-stories {
  @include flex($flex-wrap: wrap, $justify-content: space-between, $align-items: flex-start);
}

.m-story {
  @include flex($direction: column, $align-items: flex-start);
  padding: 15px 30px 30px;

  @media #{$from-medium} {
    width: 50%;
  }

  @media #{$from-xlarge} {
    width: 33%;
  }

  @media #{$from-xxlarge} {
    width: 25%;
  }
}

.m-story__date {
  margin-top: 0;
}

.m-story__intro {
  margin-top: 0;
}

.m-story__image {
  margin-bottom: 15px;
}

.m-stories__featured-image {
  height: 300px;
  width: 560px;
  margin: 0 auto;
  background: {
    repeat: no-repeat;
    position: center center;
    size: cover;
  }
}
