= render partial: 'shared/wallpaper', locals: { source: @events_wallpaper, selector: '#events_banner' }
.m-canvas.u-center#events_banner
  .container
    .content.content--wide
      %h1 Galleries in intimate spaces
      %p
        Sharing amazing art in a unique setting with a selected audience of amazing people.

.container
  .content
    %h1 A new ecosystem of viewing art
    %p
      There are hardly any avenues for upcoming artists to showcase their work. With limited wall space, new talent either gets sidelined or lost in the crowd. Reputed galleries seldom support upcoming artists. Local galleries lack the network or resources to promote artists, and good exhibitions are few and expensive. We offer audiences to see emerging artists work in unique and extraordinary settings.

  .content
    .a-buttons
      = link_to 'Guests', '#', class: 'a-button'
      = link_to 'Hosts', '#', class: 'a-button'
      = link_to 'Artists', users_path, class: 'a-button'
