.container
  - if user.posts.any?
    .content
      = render partial: 'shared/posts', locals: { posts: current_user.posts.draft } if current_user && current_user == user && current_user.posts.draft.any?
      = render partial: 'shared/posts', locals: { posts: user.posts.published }
