- if user.posts.any?
  .container
    .content.content--xxwide
      = render partial: 'shared/posts', locals: { posts: user.posts.published }
      %h2 Drafts
      = render partial: 'shared/posts', locals: { posts: current_user.posts.draft } if current_user && current_user == user && current_user.posts.draft.any?
