.container
  .content
    %h1= @tag.name
    = link_to 'Edit', edit_tag_path(@tag), class: 'a-button a-button--corner' if can? :edit, @tag
    = sanitize @tag.description

  - if @tag.posts.published.any?
    .content
      = render partial: 'shared/posts', locals: { posts: @tag.posts.published, title: "Related posts" }
