- set_page_title('Stories')

.container
  .content.content--xwide
    .m-display-section
      .m-display-section__first
        %h1= @posts.first.title
        %p= @posts.first.introduction
      .m-display-section__second
        = image_tag(@posts.first.featured_image, class: 'm-display-section__image')

  .content.content--xxwide
    = render partial: 'shared/posts', locals: { posts: @posts[1..10] }
