- set_page_title('Blog')

= link_to 'Write a post', new_post_path, class: 'a-button a-button--corner u-margin-bottom'  if can? :create, Post

.container
  .content
    %h1 Blog
    %br
    = render partial: 'shared/posts', locals: { posts: @posts }
