- set_page_title('Blog')

.container
  .content
    %h1 Blog
    = link_to 'Write a post', new_post_path, class: 'a-button a-button--corner'  if can? :create, Post
    = render partial: 'shared/posts', locals: { posts: @posts }
