%a.s-navbar__nav{ class: ('is-selected' if current_page?(artworks_path)), href: artworks_path } Art
%a.s-navbar__nav{ class: ('is-selected' if current_page?(events_path)), href: events_path } Events
%a.s-navbar__nav{ class: ('is-selected' if current_page?(posts_path)), href: posts_path } Editorial
