.m-canvas.u-center
  .container
    .content.content--wide
      %h1 Because we want to help bring some art to your walls
      %p
        Art on your walls should be original, like you. You don’t need to know anything about art to find a piece you love, giving your home a personal touch. A curated art gallery minus the intimidating vibe and lack of information. Discover artists today. 

      = link_to 'Discover', artworks_path, class: 'a-button a-button--large'
