%footer.u-center
  .a-icon-row
    %a{href: 'mailto:lisa@curateart.co.uk', target: '_blank'}
      %i.fa.fa-envelope
    %a{href: 'https://www.instagram.com/curateart/', target: '_blank'}
      %i.fa.fa-instagram
    %a{href: 'https://twitter.com/Curate_London', target: '_blank'}
      %i.fa.fa-twitter
