.s-navbar
  = link_to 'Home', '#', class: 's-navbar__nav'
  = link_to 'Art', '#', class: 's-navbar__nav'
  = link_to 'Artists', '#', class: 's-navbar__nav'
  = link_to 'Events', '#', class: 's-navbar__nav'
