.s-navbar{class: ('js-stick--below-canvas' if current_page?(root_path) )}
  = link_to 'Curate', root_path, class: 's-navbar__logo'
  = render partial: 'layouts/navbar/menu'
  = render partial: 'layouts/navbar/user_nav'
.u-navbar-clear
