- if flash.any?
  .a-flash
    .a-flash__box.js-dismiss-container
      .a-flash__message
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            = content_tag :div, msg, :class => "a-flash--#{name}"
      = link_to 'Ok', '#', class: 'a-button a-button--small js-dismiss-trigger'
